# Node/Vite defaults
node_modules/
dist/
.vite/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/

# Env and local configs
.env
.env.*
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/